**/node_modules
**/vendor
**/.git
**/.github
**/.output
**/.nuxt
**/.nitro
**/.cache
**/.data
**/dist
**/storage/logs/*.log
**/storage/framework/cache/data/*
**/.env
**/.env.*
!**/.env.example
**/database/database.sqlite
*.log
.DS_Store
